.display {
  font-size: 100%;
  @media only screen and (min-width: 490px) and (max-width: 599px) {
    font-size: 80%;
  }
  @media only screen and (min-width: 437px) and (max-width: 489px) {
    font-size: 70%;
  }
  @media only screen and (min-width: 341px) and (max-width: 436px) {
    font-size: 60%;
  }
  @media only screen and (max-width: 340px) and (min-height: 401px) {
    font-size: 50%;
  }
  @media only screen and (max-width: 340px) and (max-height: 400px) {
    font-size: 45%;
  }
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.event-wrapper {
  padding-top: 2em;
  .container {
    margin: 0 auto 2em auto;
    width: 35em;
    text-align: center;
    padding: 2em 0;
    border-top: 0.1em solid; 
    border-bottom: 0.1em solid;
    @media only screen and (max-width  436px) {
      border-top: 0.2em solid; 
      border-bottom: 0.2em solid;
    }
  }
  .colaze-row {
    .colaze-square {
      width: 10em;
      height: 10em;
      @media only screen and (max-width: 340px) and (max-height: 400px) {
        width: 8em;
        height: 8em;
      }
      display: inline-block;
      vertical-align: top;
      margin: 0.5em;
      img {
        width: inherit;
        height: inherit;
      }
    }
    .colaze-square.border { 
      border: 0.1em solid; 
      @media only screen and (max-width : 436px) {
        border: 0.2em solid; 
      }
    }
    .colaze-square.relative { 
      position: relative;
    }
  }
  .static-text {
    font-family: 'Vibur', cursive;
    font-size: 3em;
    line-height: 1em;
    padding: 0.3em;
  }
  img.waves-img {
    position: absolute;
    width: 8em !important;
    height: 8em !important;
  }
  .text-wrapper-1 {
    line-height: 1em;
    padding: 0.1em;
  }
  .text-wrapper-2 {
    position: absolute;
    bottom: 0;
    text-align: left;
    line-height: 1.3em;
  }
  .text-wrapper-3 {
    line-height: 1em;
    padding: 0.1em;
  }
  .calendar-wrapper {
    text-align: center;
    .addthisevent-drop {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 1em;
      padding: 0.3em 1em;
      background: rgb(160, 189, 189);
      color: white !important;
      width: 12em;
      .addthisevent_icon {
        display: none;
      }
    }
    .addthisevent-drop:hover {
      background: rgb(200, 205, 187);
    }
  }
}