<div class="wedding paris event-wrapper">
  <div class='images-container'>
    <div class='images'>
    </div>
  </div>
  <div class='text-wrapper-1'>
    <div id='text_1'>
      21/12/15
    </div>
  </div>
  <div class='text-wrapper-2'>
    <div id='text_2'>
      save the date
    </div>
  </div>
  <div class='text-wrapper-3'>
    <div id='text_3'>
      Natasha & Jonathan
    </div>
  </div>
  <div class="calendar-wrapper">
    <a href="http://example.com/link-to-your-event" title="Add to Calendar" id="btn_calendar" class="addthisevent">Add to Calendar</a>
  </div>
</div>

