<div class='tile placeholder'>
  <div class='tile-header'>
    <div class='name-wrapper'>
      <div class='name vertical-align'>
        MY NEW EVENT
      </div>
    </div>
  </div>
  <div class='tile-body'>
    <div class='new-event-wrapper'>
      <a class="new-event" href="#"></a>
      <div class='text'>NEW EVENT</div>
    </div>
  </div>
</div>