.calendar-element {
  .sync-switch {
    .text {
      padding: 0;
      font-size: 0.8rem;
    }
    .switch-wrapper {
      padding: 0;
      .switch {
        label {
          margin: 0;
        }
      }
    }
  }
  label.title {
    margin: 0 0 1rem 0;
  }
}