.slider-element {
  overflow: hidden;
  width: 100%!important;
  height: 100%!important;
  ul {
    list-style: none;
    margin-left: 0!important;
  }
  li {
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    .themes {
      .th {
        width: 40%;
        margin: 0.5rem;
      }
    }
  }
  a.next, a.prev {
    position: absolute;
    z-index: 999;
  }
  a.next {
    right: 7rem;
  }
  a.prev {
    left: 7rem;
  }
}