<div class='background-element'>
  <div class="background-text">Choose your favorite background</div>
  <div class='background-tiles'>
    <% background_names.each do |background| %>
      <% background_url = background_collection_url(background) %>
      <a class="th" href="#" data-name="<%= background %>" data-url="<%= background_url %>">
        <img src="<%= background_url %>">
      </a>
    <% end %>
    <%= app_form.hidden_field :background_image, id: "background_image" %>
  </div>
</div>