<% slideshow = if images.size > 1 %>
  <% true %>
<% else %>
  <% false %>
<% end %>
<div class='images' data-slideshow="<%= slideshow %>">
  <% images.each do |pic| %>
    <div id="image-wrapper-<%= pic.order %>" style="width: inherit; height: inherit;">
      <img src="<%= pic.image_url %>">
    </div>
  <% end %>
</div>