<div id="publish-event" class="modal">
  <div class='modal-logo'></div>
  <a href="#close-modal" rel="modal:close" class="close-modal"></a>
  <div class="modal-header">
    <b>
      NOW THIS IS EXCITING, WE'RE ABOUT TO<br>MAKE YOUR EVENT PUBLIC!
    </b>
     CHOOSE A<br>UNIQUE URL FOR YOUR EVENT:
  </div>
  <div class='url-wrapper'>
    <div class='input-style'><%= ENV['ROOT_URL'] %></div>
    <input class="input-style" type="text" name="event-url">
  </div>
  <div class='modal-actions'>
    <a href="#" class="publish"></a>
    <a href="#" class="cancel"></a>
  </div>
</div>