.header {
  font-family: 'Julius Sans One', sans-serif;
  padding: 25.5px 25.5px 0;
  overflow: auto;
  .logo-wrapper {
    float: left;
    a.logo-icon {
      display: inline-block;
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/logo_box_grey.svg");
      background-repeat: no-repeat;
      width: 102px;
      height: 25px;       
    }
  }
  .nav-collapse {
    display: inline-block;
    float: right;
    ul {
      li {
        padding-right: 25.5px;
        display: inline;
        a {
          text-decoration: none;
          color: rgb(149, 149, 149);
        }
      }
      li.user {
        font-size: 12px;
        a {
          text-decoration: underline;
          color: rgb(127, 159, 255);
        }
      }
      .login {
        background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/login_btn.svg');
        background-repeat: no-repeat;         
        display: inline-block;
        width: 58px;
        height: 28px;
        vertical-align: bottom;
      }
      .login:hover {
        background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/login_btn_hover.svg');
      }
    }
  }
}