.emodal {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: left;
  height: 250px;
  width: 600px;
  border-radius: 0;
  border: 1px solid rgb(127, 159, 255);
  text-align: left;
  a.close-modal {
    position: absolute;
    display: block;
    text-indent: -9999px;
    background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/x.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 30px
  }
  .modal-logo {
    background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/peggy.svg");
    width: 92px;
    height: 127px;
    position: absolute;
    background-repeat: no-repeat;
    top: -126px;
  }
  .modal-header {
    color: #4d4d4d;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
  }
  .modal-actions {
    margin-top: 10px;
    a {
      background-repeat: no-repeat;
      width: 100px;
      height: 27px;
      display: inline-block;
    }
    .cancel {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/cancel.png");
      background-size: cover;
      margin-left: 5px;
    }
    .cancel:hover {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/cancel_hover.png");
      background-size: cover;
    }
  }
  .modal-text {
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgb(77, 77, 77);
    margin-top: 22px;
    width: 500px;
    font-size: 18px;
  }
  .input-style {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
  }
  input {
    color: #7f9fff;
    border: 1px solid #7f9fff;
    height: 28px;
    padding-left: 7px;
    outline: none;
  }
}

#save-event {
  input {
    margin-top: 25px;
    width: 400px;
  }
  .modal-actions {
    .save {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/save.png");
      background-size: cover;
    }
    .save:hover {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/save_hover.png");
      background-size: cover;
    }
  }
}

#event-saved {
  .modal-text {
    width: 397px;
    a {
      color: rgb(127, 159, 255);
    }
  }
  .modal-actions {
    margin-top: 20px;
    .done {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/done.png");
      background-size: cover;
    }
    .done:hover {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/done_hover.png");
      background-size: cover;
    }
  }
}

#publish-event {
  .modal-header {
    font-weight: normal;
  }
  .url-wrapper {
    margin-top: 25px;
    .input-style {
      display: inline-block;
    }
    input {
      display: inline-block;
      width: 200px;
    }
  }
  .modal-actions {
    .publish {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/publish.png");
      background-size: cover;
    }
    .publish:hover {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/publish_hover.png");
      background-size: cover;
    }
  }
}

#event-published {
  .modal-header {
    font-weight: normal;
  }
  .url-wrapper {
    margin-top: 10px;
    input {
      width: 422px;
    }
  }
  .modal-actions {
    .copy {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/copy.png");
      background-size: cover;
    }
    .zeroclipboard-is-hover {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/copy_hover.png");
      background-size: cover;
    }
    .link-copied {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/link_copied.png");
      background-size: cover;
    }
    .done {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/done.png");
      background-size: cover;
    }
    .done:hover {
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/modals/done_hover.png");
      background-size: cover;
    }
  }
}
.eblocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}
.eblocker:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.eblocker.behind {
  background-color: transparent;
}