<div class='segments'>
  <div class='segment-wrapper'>
    <div class='segment-icon'>
      <a href="#" class="weddings"></a>
    </div>
    <div class="segment-text">weddings</div>
  </div>
  <div class='segment-wrapper'>
    <div class='segment-icon'>
      <a href="#" class="celebration"></a>
    </div>
    <div class="segment-text">celebration</div>
  </div>
  <div class='segment-wrapper'>
    <div class='segment-icon'>
      <a href="#" class="meetups"></a>
    </div>
    <div class="segment-text">meetups</div>
  </div>
  <div class='segment-wrapper'>
    <div class='segment-icon'>
      <a href="#" class="whatever"></a>
    </div>
    <div class="segment-text">whatever</div>
  </div>
</div>
