<div class='site-footer'>
  <div class='social-buttons'>
    <nav>
      <ul>
        <li><a href="https://www.facebook.com/Eventit-1609391259289431/timeline" target="_blank" class="facebook"></a></li>
        <li><a href="https://instagram.com/eventit" target="_blank" class="instagram"></a></li>
      </ul>
    </nav>
  </div>
  <div class='footer-nav'>
    <nav>
      <ul>
        <li><a href="<%= about_path %>">ABOUT</a></li>
        <li><a href="<%= new_contact_request_path %>">CONTACT US</a></li>
        <li><a href="#">PRIVACY POLICY</a></li>
        <li><a href="#">TERMS OF SERVICE</a></li>
        <li><a href="#">SITEMAP</a></li>
      </ul>
    </nav>
  </div>
  <div class='footer-logo'>
    <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/logo_box_white.svg">
  </div>
  <div class='footer-text'>
    © 2014-2015 eventit. all rights reserved eventit®
  </div>
</div>