<div class='row'>
  <div class='small-12 columns'>
    <h1>Leads</h1>
    <table>
      <thead>
        <tr>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @leads.each do |lead| %>
        <tr>
          <td><%= lead.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>