<div class='page-wrapper dashboard'>
  <div class='previews'>
    <% @events.each do |event| %>
      <%= render partial: "events/dashboard/tile", locals: { event: event }  %>
    <% end %>
    <%= render partial: "events/dashboard/tile_placeholder" %>
  </div>
</div>