<div class='page-wrapper editor'>
  <div class='page-container'>
    <div class='top'>
      <div class='borderholder-1'></div>
      <div class='actions'>
        <div class='save-wrapper'>
          <a class="save" href="#"></a>
          <div class='text'>SAVE</div>
        </div>
        <% if event.published? %>
          <div class='unpublish-wrapper'>
            <a class="unpublish" href="#"></a>
            <div class='text'>UNPUBLISH</div>
          </div>
        <% else %>
          <div class='publish-wrapper'>
            <a class="publish" href="#"></a>
            <div class='text'>PUBLISH</div>
          </div>
        <% end %>
      </div>
      <div class='borderholder-2'></div>
    </div>
    <div class='body'>
      <%= render partial: "events/editor/form_and_preview", locals: { event: event, theme: theme } %>
    </div>
  </div>
</div>