<div class="event" data-json="<%= event_json %>">
  <!-- pass the event as the theme to display -->
  <%= render partial: "events/editor", locals: { event: event, theme: event, categories: categories }  %>
</div>