<div class="event" data-id="<%= @event.id %>" data-name="<%= @event.name %>" data-url="<%= @event.url %>">
  <!-- pass the event as the theme to display -->
  <%= render partial: "events/editor", locals: { event: @event, theme: @event, categories: @categories }  %>
</div>