<% theme_path = "themes/wedding/paris" %>

<% content_for :title do %>
  <%= 'Paris' %>
<% end %>

<% content_for :header do %>
  <%= stylesheet_link_tag "#{theme_path}/base" %>
<% end %>

<div class="display">
  <%= render partial: theme_path, locals: { event: nil } %>
</div>