<% theme_path = "themes/#{@event.category_name}/#{@event.theme_name}" %>

<% content_for(:title) do %>
  <%= @event.name %>
<% end %>

<% content_for :header do %>
  <%= stylesheet_link_tag theme_path %>
<% end %>

<div class="display">
  <%= render partial: theme_path, locals: { event: @event } %>
</div>