<div class='background-and-pics'>
  <div class='background-section'>
    <div class='background-tagline'>
      <div class='background-icon'></div>
      <div class='background-text'>choose your favorite background</div>
    </div>
    <div class='background-tiles'>
      <div class='background-tile' style="background: white" data-url="white"></div>
      <% background_urls.each do |url| %>
        <div class='background-tile' style="background: url(<%= url %>)" data-url="<%= url %>"></div>
      <% end %>
    </div>
  </div>
  <div class='pics-section'>
    <!-- React Component (Pictures.js.jsx) -->
  </div>
</div>