<div class='form'>
  <div class='accordion'>
    <div class='panel panel-1 templates' data-name='templates'>
      <div class='panel-header'>
        <div class='header-icon vertical-align'></div>
        <div class='header-text'>templates</div>
      </div>
      <div class='panel-content'>
        <%= render partial: "events/editor/gallery", locals: { categories: @categories} %>
      </div>
    </div>
    <div class='panel panel-2 text' data-name='text'>
      <div class='panel-header'>
        <div class='header-icon vertical-align'></div>
        <div class='header-text'>text</div>
      </div>
      <div class='panel-content'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class='panel panel-3 pictures' data-name='pictures'>
      <div class='panel-header'>
        <div class='header-icon vertical-align'></div>
        <div class='header-text'>background & pics</div>
      </div>
      <div class='panel-content'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class='panel panel-4 calendar' data-name='calendar'>
      <div class='panel-header'>
        <div class='header-icon vertical-align'></div>
        <div class='header-text'>sync calendar</div>
      </div>
      <div class='panel-content'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>