<div class="gallery">
  <ul>
    <% categories.each do |category| %>
      <li>
        <div class='gallery-header'>
          <a href="#" class="next">></a>
          <div class='category-name'><%= category.name %></div>
          <a href="#" class="prev"><</a>
        </div>
        <div class="themes">
          <% category.events.themes.each do |theme| %>
              <div class='gallery-theme' style="background: url('<%= theme.thumbnail_url %>') no-repeat; background-size: cover;"></div>
          <% end %>
        </div>
      </li>
      <!-- fake -->
      <li>
        <div class='gallery-header'>
          <a href="#" class="next">></a>
          <div class='category-name'>fake</div>
          <a href="#" class="prev"><</a>
        </div>
        <div class="themes">
          <% category.events.themes.each do |theme| %>
              <div class='gallery-theme' style="background: url('<%= theme.thumbnail_url %>') no-repeat; background-size: cover;"></div>
          <% end %>
        </div>
      </li>
      <!-- end of fake -->
    <% end %>
  </ul>
</div>