<div class='text-edit'>
  <div class='text-line-wrapper 1'>
    <%= render partial: "events/editor/text_line", locals: {
        event_form: event_form,
        app_form: app_form,
        event: event,
        count: '1'
    } %>
  </div>
  <div class='text-line-wrapper 2'>
    <%= render partial: "events/editor/text_line", locals: {
        event_form: event_form,
        app_form: app_form,
        event: event,
        count: '2'
    } %>
  </div>
  <div class='text-line-wrapper 3'>
    <%= render partial: "events/editor/text_line", locals: {
        event_form: event_form,
        app_form: app_form,
        event: event,
        count: '3'
    } %>
  </div>
</div>