.display {
  font-size: 100%;
  .event-wrapper.simple {
    .panel {
      width: 50%;
      @media screen and (max-width: 479px) {
        width: 100%;
      }
      text-align: center;
      display: inline-block;
      overflow: hidden;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .images-container {
      
    }
    .content-container {
    }
  }
}