.wedding.classic.event-wrapper {
  height: 100%;
  .image-wrapper {
    padding: 2em 2em 2em;
    position: relative;
    img.graphics {
      position: absolute;
      top: 0em;
      left: 0em;
    }
    img.main {
      border: 1.5em solid white;
      height: 100%;
      width: 100%;
    }
    #text_1 {
      position: absolute;
      left: 5.6em;
      top: 2.8em;
      font-size: 4.4em !important;
    }
    #text_2 {
      position: absolute;
      left: 11.4em;
      top: 9.5em;
      font-size: 2em !important;
    }
    #text_3 {
      position: absolute;
      left: 3.3em;
      top: 2.5em;
      font-size: 8.3em !important;
    }
    .calendar-wrapper {
      position: absolute;
      top: 34em;
      left: 26.3em;
      .addthisevent-drop {
        font-family: 'Lobster', cursive;
        font-size: 1em;
        padding: 0.5em;
        background: rgba(200, 187, 187, 0.7);
        color: #595757!important;
        border: 1em;
        border-radius: 1em!important;
      }
    }
  }
}