.text-line {
  .input-wrapper {
    margin-top: 11px;
    .input-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: bottom;
      background-color: $border-color;
    }
    .input-icon.icon-1 {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/1_icon.svg');
    }
    .input-icon.icon-1:hover {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/1_icon_hover.svg');
    }
    .input-icon.icon-2 {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/2_icon.svg');
    }
    .input-icon.icon-2:hover {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/2_icon_hover.svg');
    }
    .input-icon.icon-3 {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/3_icon.svg');
    }
    .input-icon.icon-3:hover {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/3_icon_hover.svg');
    }
    input {
      width: 200px;
      height: 16px;
      display: inline-block;
      border: 1px solid $border-color;
    }
  }
  .appearance-wrapper {
    display: none;
    .text-font {

    }
    .text-color {

    }
    .text-size {

    }
  }
}