$border-color: rgb(127, 159, 255);

.text-line {
  input {
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgb(176, 176, 176);
  }
  input:focus {
    outline: none;
  }
  .input-wrapper {
    margin-top: 11px;
    .input-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: bottom;
      background-color: $border-color;
    }
    .input-icon.icon-1 {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/1_icon.svg');
    }
    .input-icon.icon-2 {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/2_icon.svg');
    }
    .input-icon.icon-3 {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/3_icon.svg');
    }
    input {
      width: 270px;
      height: 16px;
      display: inline-block;
      border: 1px solid $border-color;
      padding-left: 10px;
    }
  }
  .appearance-wrapper {
    display: none;
    font-family: 'Quattrocento Sans', sans-serif;
    .prefix {
      display: inline-block;
      background-color: rgb(77, 77, 77);
      color: white;
      font-size: 9px;
      padding: 4px 6px;
      vertical-align: top;
    }
    input {
      border: 1px solid rgb(77, 77, 77);
      border-top: none;
      height: 15px;
      vertical-align: super;
      font-size: 9px;
    }
    .text-font {
      display: inline-block;
      .prefix {
        margin-top: -3px;
      }
      select {
        font-family: 'Quattrocento Sans', sans-serif;
        color: rgb(176, 176, 176);
        padding-left: 5px;
        width: 104px;
        border: 1px solid rgb(77, 77, 77);
        border-top: none;
        border-left: none;
        height: 15px;
        font-size: 9px;
        background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/editor/drop_down_icon.svg') no-repeat 93px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        vertical-align: text-top;
      }
      select:focus {
        outline: none;
      }
    }
    .text-color {
      display: inline-block;
      margin-left: -5px;
      .minicolors-theme-default {
        .minicolors-swatch {
          top: 3px;
          left: 5px;
          width: 10px;
          height: 10px;
        }
        .minicolors-input {
          padding-left: 16px;
          width: 44px;
        }
      }
    }
    .text-size {
      display: inline-block;
      margin-left: -5px;
      input {
        width: 30px;
      }
    }
  }
}