<div class="page-wrapper about">
  <div class='about-container'>
    <div class='about-logo'></div>
    <div class='about-header'>
      about <div class='logo'></div>
    </div>
    <div class='about-text'>
      So you'd like to know a little more about us? Oh. You made us blush :)
      <br>
      Inviting people to your event just became much easier. It doesn't matter if you plan a wedding, party, business meeting or a Sunday barbeque; you want your guests to save the date. And well, special people need special invitations. That's exactly where we come in.
      <br>
      Eventit will let you create your own personally designed save the date page, easily and within minutes. All you need to do is pick the template that you like Add your event info and photos and thats it! your own, personally designed, save the date page will be ready in an instant. Your guests will receive a link to your incredible Save The Date via SMS, mail or Facebook, where they can add your event to their calendar and do a bunch of cool stuff.
      <br>
      <br>
      You're still here? Let's go!
      <br>
      Start Event It!
    </div>
  </div>
</div>
<!-- Sign In modal -->
<div id="signInModal" class="modal">
  <%= render partial: 'devise/shared/sign_in' %>
</div>
<!--  -->
<!-- Sign Up modal -->
<div id="signUpModal" class="modal">
  <%= render partial: 'devise/shared/sign_up' %>
</div>
<!--  -->