<div class="admin-wrapper admin-menu">
  <div class='menu-list'>
    <a href="<%= admin_users_path %>" class='menu-item users btn'>Users</a>
    <a href="<%= admin_events_path %>" class='menu-item events btn'>Events</a>
    <a href="<%= admin_contact_requests_path %>" class='menu-item contact-requests btn'>Contact Requests</a>
  </div>
</div>