<!-- top bar -->
<nav class="top-bar" data-topbar data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Eventit</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
    <% if current_user %>
    <!-- Right Nav Section -->
      <li class="has-dropdown">
        <a href="#"><%= current_user.email %></a>
        <ul class="dropdown">
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    <% else %>
    <li class="has-form">
      <a href="#" class="button" data-reveal-id="signInModal">Sign In</a>
    </li>
    <% end %>
    </ul>
  </section>
</nav>
<!-- main container -->
<div class="main-container">
  <!-- Sign In modal -->
  <div id="signInModal" class="reveal-modal small" data-reveal>
    <%= render partial: 'devise/shared/sign_in' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!--  -->
  <!-- Sign Up modal -->
  <div id="signUpModal" class="reveal-modal small" data-reveal>
    <%= render partial: 'devise/shared/sign_up' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>