<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="play"></div>
    <%= javascript_include_tag "play" %>
  </body>
</html>