<div id="test" data-json="<%= event %>">
    <%= cl_image_upload_tag('picture_1',  :crop => :limit, :width => 600, :height => 600) %>
  <div class='progress_bar' style="background-color: green; height: 25px; width: 0;"></div>
</div>
