<div class="page-wrapper welcome">
  <div class='header'>
    <div class="logo-wrapper">
      <a href="<%= root_path %>" class="logo-icon"></a>
    </div>
    <nav class="nav-collapse">
      <ul>
        <li><a href="<%= root_path %>">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">templates</a></li>
        <li><a href="#">demo invitation</a></li>
        <li><a href="#signInModal" rel="modal:open" class="login"></a></li>
      </ul>
    </nav>
  </div>
  <div class='slideshow-wrapper'>
    <div class='images slideshow'>
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/beach_slide.jpg">
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/business_slide.jpg">
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/record_slide.jpg">
    </div>
    <div class='box-wrapper'>
      <div class="peggy-wrapper">
        <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/peggy.svg">
      </div>
      <div class="logo-box">
        <div class='vertical-align'>
          <div class='logo-wrapper'>
            <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/logo_text.svg">
          </div>
          <div class="tagline">easy, quick & awesome</div>
          <div class='start-wrapper'>
            <a href="#signUpModal" rel="modal:open" class="start"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='categories-wrapper'>
    <div class='segments'>
      <div class='segment-wrapper'>
        <div class='segment-icon'>
          <a href="#" class="weddings"></a>
        </div>
        <div class="segment-text">weddings</div>
      </div>
      <div class='segment-wrapper'>
        <div class='segment-icon'>
          <a href="#" class="celebration"></a>
        </div>
        <div class="segment-text">celebration</div>
      </div>
      <div class='segment-wrapper'>
        <div class='segment-icon'>
          <a href="#" class="meetups"></a>
        </div>
        <div class="segment-text">meetups</div>
      </div>
      <div class='segment-wrapper'>
        <div class='segment-icon'>
          <a href="#" class="whatever"></a>
        </div>
        <div class="segment-text">whatever</div>
      </div>
    </div>
    <div class='demo-link'>
      <a href="#">view demo invitation >></a>
    </div>
  </div>
  <div class='responsive-wrapper'>
    <div class='image-wrapper'>
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/responsive_image.png">
    </div>
    <div class='responsive-text'>
      one design - every device
    </div>
  </div>
  <div class='success-wrapper'>
    <div class='couples slideshow'>
      <div class='couple-wrapper'>
        <div class="image-wrapper">
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_1.png">
        </div>
        <div class='couple-name'>
          neta & ron
        </div>
        <div class='text-wrapper'>
          "absolutely great! it was really easy and<br>
          fast and the invite was amazing!"
        </div>
      </div>
      <div class='couple-wrapper'>
        <div class="image-wrapper">
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_2.png">
        </div>
        <div class='couple-name'>
          mimi & shlomi
        </div>
        <div class='text-wrapper'>
          "absolutely great! it was really easy and<br>
          fast and the invite was amazing!"
        </div>
      </div>
      <div class='couple-wrapper'>
        <div class="image-wrapper">
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_3.png">
        </div>
        <div class='couple-name'>
          shlomit & shay
        </div>
        <div class='text-wrapper'>
          "absolutely great! it was really easy and<br>
          fast and the invite was amazing!"
        </div>
      </div>
    </div>
  </div>
  <div class='welcome-footer'>
    <div class='social-buttons'>
      <nav>
        <ul>
          <li><a href="#" class="facebook"></a></li>
          <li><a href="#" class="twitter"></a></li>
          <li><a href="#" class="google"></a></li>
        </ul>
      </nav>
    </div>
    <div class='footer-nav'>
      <nav>
        <ul>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT US</a></li>
          <li><a href="#">PRIVACY POLICY</a></li>
          <li><a href="#">TERMS OF SERVICE</a></li>
          <li><a href="#">SITEMAP</a></li>
        </ul>
      </nav>
    </div>
    <div class='footer-logo'>
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/logo_box_white.svg">
    </div>
    <div class='footer-text'>
      © 2014-2015 eventit. all rights reserved eventit®
    </div>
  </div>
</div>
<!-- Sign In modal -->
<div id="signInModal" class="modal">
  <%= render partial: 'devise/shared/sign_in' %>
</div>
<!--  -->
<!-- Sign Up modal -->
<div id="signUpModal" class="modal">
  <%= render partial: 'devise/shared/sign_up' %>
</div>
<!--  -->