<div class="welcome-wrapper">
  <div class="first-row row">
    <div class="example-text large-7 columns">
      <h1>
        Create your own event
      </h1>
      <h4>
        Now you can have a website
        <br>
        just for your event.
        <br>
        <br>
        Easy to customize. No coding.
      </h4>
      <h6>
        Design your event with an easy to use editor.
        <br>
        Allow people to easly sync their calendars with your event.
        <br>
        Get one design that supports both mobile and desktop views.
      </h6>
      <a href="#" class="button [radius round]">Start Now</a>
      <div class="share-btns">
        <%= social_share_button_tag('Create your event', :url => "http://my-event.herokuapp.com/") %>
      </div>
    </div>
    <div class="example-image large-5 columns">
      <img src="<%= example_events_image_url %>">
    </div>
  </div>

  <div class="second-row row">
    <div class="large-12 columns">
      <p>
      Whether you want to invite your firends and colleagues 
      <br>
      to your daughter's birthday or to a sunday BBQ,
      <br>
      MyEvent let you invite them to save the date in a 
      <br>
      modern and fashionable way.
      </p>
    </div>
    <div class="large-12 columns">
      <div class="large-3 columns">Weddings</div>
      <div class="large-3 columns">Birthdays</div>
      <div class="large-3 columns">Conferences</div>
      <div class="large-3 columns">Events</div>
    </div>
  </div>
</div>
