<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:title" content="eventit" />
    <meta property="og:image" content="" />

    <title>
      eventit
    </title>

    <%= favicon_link_tag shared_assets_url 'favicon.ico' %>
    <%= stylesheet_link_tag "mobile" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Tauri|Playfair+Display|Gidugu|Rozha+One|Yesteryear|Lobster|Anton|Grand+Hotel|Actor|Fanwood+Text|Francois+One|Julius+Sans+One|Karla:700|Quattrocento+Sans|Oswald|Berkshire+Swash|Alef|Six+Caps|Prata|Leckerli+One|Vibur|Hammersmith+One|Cinzel" %>
    <%= javascript_include_tag "mobile" %>
  </head>
  <body>
    <div class="page-wrapper welcome-mobile">
      <div class='slideshow-wrapper'>
        <div class='icon-wrapper'>
          <div class='icon'></div>
        </div>
        <div class='images slideshow'>
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/slide_1.png">
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/slide_2.png">
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/slide_3.jpg">
        </div>
        <div class='box-wrapper'>
          <div class="peggy-wrapper">
            <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/peggy.svg">
          </div>
          <div class="logo-box">
            <div class='logo-wrapper'>
              <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/logo_text.svg">
            </div>
            <div class="tagline-1">
              create your own
              <br>
              unique
              <br>
              save the date page
            </div>
          </div>
          <div class='tagline-2'>
            Easy, Quick & Awesome
          </div>
        </div>
      </div>
      <div class='categories-wrapper'>
        <div class='segments'>
          <div class='segment-wrapper right-border'>
            <div class='segment-icon'>
              <div class="weddings icon"></div>
            </div>
            <div class="segment-text">weddings</div>
          </div><div class='segment-wrapper'>
            <div class='segment-icon'>
              <div class="celebration icon"></div>
            </div>
            <div class="segment-text">celebration</div>
          </div>
          <div class='segment-wrapper right-border'>
            <div class='segment-icon'>
              <div class="meetups icon"></div>
            </div>
            <div class="segment-text">meetups</div>
          </div><div class='segment-wrapper'>
            <div class='segment-icon'>
              <div class="whatever icon"></div>
            </div>
            <div class="segment-text">whatever</div>
          </div>
        </div>
      </div>
      <div class='examples-wrapper'>
        <div class='examples slideshow-dots'>
          <div class='example-wrapper'>
            <div class="image-wrapper">
              <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/example_1.png">
            </div>
          </div>
          <div class='example-wrapper'>
            <div class="image-wrapper">
              <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/example_2.png">
            </div>
          </div>
          <div class='example-wrapper'>
            <div class="image-wrapper">
              <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/example_3.png">
            </div>
          </div>
          <div class='example-wrapper'>
            <div class="image-wrapper">
              <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/example_4.png">
            </div>
          </div>
        </div>
      </div>
      <div class='success-wrapper'>
        <div class='couples slideshow-dots'>
          <div class='couple-wrapper'>
            <div class="image-wrapper">
              <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_1.png">
            </div>
            <div class='couple-name'>
              neta & ron
            </div>
            <div class='text-wrapper'>
              "Absolutely great! It was really easy and fast.
              <br>
              The save the date page was amazing!"
            </div>
          </div>
          <div class='couple-wrapper'>
            <div class="image-wrapper">
              <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_2.png">
            </div>
            <div class='couple-name'>
              mimi & shlomi
            </div>
            <div class='text-wrapper'>
              "We just loooved it! We got so
              <br>
              many great feedbacks from our friends."
            </div>
          </div>
          <div class='couple-wrapper'>
            <div class="image-wrapper">
              <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_3.png">
            </div>
            <div class='couple-name'>
              shlomit & shay
            </div>
            <div class='text-wrapper'>
              "What a great idea! So simple to use and
              <br>
              so beautiful. We’ll definitely come again."
            </div>
          </div>
        </div>
      </div>
      <div class='notice-wrapper'>
        <div class='text'>
          what are you waiting for?
          <br>
          start <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/eventit_logo.svg">
          <br>
          <br>
          <br>
          visit our website on your desktop to
          <br>
          create your own unique invitation
        </div>
      </div>
    </div>
    <div class='site-footer'>
      <div class='social-buttons'>
        <nav>
          <ul>
            <li><a href="https://www.facebook.com/Eventit-1609391259289431/timeline/" target="_blank" class="facebook"></a></li>
            <li><a href="https://instagram.com/eventit" target="_blank" class="instagram"></a></li>
          </ul>
        </nav>
      </div>
      <div class='footer-nav'>
        <nav>
          <ul>
            <li><a href="mailto:eventit.me@gmail.com?subject=Please contact me">CONTACT US</a></li>
          </ul>
        </nav>
      </div>
      <div class='footer-text'>
        © 2014-2015 eventit. all rights reserved eventit®
      </div>
      <div class='footer-logo'>
        <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/logo_box_white.svg">
      </div>
    </div>
  </body>
</html>