<div class='admin-wrapper admin-contact-request'>
  <div class='contact-request'>
    <div class='request-email'>
      Email: <%= @request.email %>
    </div>
    <div class='request-message'>
      Message: <%= @request.message %>
    </div>
    <%= link_to 'Back', :back %>
  </div>
</div>