.calendar-wrapper {
  margin-bottom: 10px;
  text-align: center;
  .addthisevent-drop {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.5em;
    padding: 0.5em 0.8em 0.5em 2.5em;
    background: rgb(60, 87, 255);
    color: white!important;
    .addthisevent_icon {
      width: 1.5em;
      height: 1.5em;
      background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/categories/shared/calendar_icon.svg") no-repeat;
      background-size: contain;
      left: 0.5em;
      top: 0.25em;
    }
  }
  .addthisevent-drop:hover {
    background: rgb(0, 3, 255);
  }
}