.display-footer {
  font-size: 80%;
  position: absolute;
  bottom: 0;
  @media only screen and (max-height: 372px) {
    font-size: 50%;
  }
  @media only screen and (orientation: landscape) {
    font-size: 80%;
    position: relative;
    margin-top: 1em;
  }
  height: 1.5em;
  width: 100%;
  text-align: center;
  background-color: rgba(87, 87, 87, 0.41);
  .footer-container {
    height: 100%;
    img {
      height: 100%;
      vertical-align: baseline;
    }
    a {
      vertical-align: text-bottom;
      text-decoration: none;
      color: white;
      font-family: 'Julius Sans One', sans-serif;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
    }
  }
}