<div id="event-saved" class="modal">
  <div class='modal-logo'></div>
  <a href="#close-modal" rel="modal:close" class="close-modal"></a>
  <div class="modal-header">GREAT! YOUR EVENT HAS BEEN SAVED</div>
  <div class='modal-text'>
    Ready to share your event with the people who are important to you? <a href="#" class="publish">press here</a>
  </div>
  <div class='modal-actions'>
    <a href="#" class="done"></a>
  </div>
</div>