<div id="event-published" class="modal">
  <div class='modal-logo'></div>
  <a href="#close-modal" rel="modal:close" class="close-modal"></a>
  <div class="modal-header">
    <b>CONGRATULATIONS!</b> YOUR EVENT IS PUBLIC!
  </div>
  <div class='modat-text'>
    To share your event, simply copy the URL and post it on<br>Facebook, send it in Whatsapp/SMS or email it.
  </div>
  <div class='url-wrapper'>
    <input class="input-style" type="text" name="event-url">
  </div>
  <div class='modal-actions'>
    <a href="#" class="copy"></a>
    <a href="#" class="done"></a>
  </div>
</div>