<div id="publish-event" class="modal">
  <div class='modal-logo'></div>
  <a href="#close-modal" rel="modal:close" class="close-modal"></a>
  <div class="modal-header">ALRIGHT, LET'S NAME YOUR EVENT!</div>
  <input type="text" name="event-name" placeholder="type the event name here">
  <div class='modal-actions'>
    <a href="#" class="save"></a>
    <a href="#" class="cancel"></a>
  </div>
  <div class='modal-text'>
    Don't worry! Saving your event does not mean the event will be public.
    No one will be able to see your event until you decide to publish it.
  </div>
</div>