html, body {
  padding: 0;
  margin: 0;
}
.page-wrapper.welcome-mobile {
  .slideshow-dots.slick-slider {
    padding-top: 30px;
    ul.slick-dots {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 40px 10px;
        background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/dot_white.svg");
        background-repeat: no-repeat;
        width: 19px;
        height: 23px;
      }
      li.slick-active {
        background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/dot_blue.svg");
      }
    }
  }
  font-family: 'Julius Sans One', sans-serif;
  .slideshow-wrapper {
    .icon-wrapper {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 999;
      .icon {
        display: inline-block;
        background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/logo_box_grey.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 102px;
        height: 25px;
        @media screen and (max-width: 320px) {
          width: 85px;
          height: 20px;
        }
      }
    }
    .images {
      img {
        height: auto;
      }
      // display: none; // hide images till slide show starts
    }
    .box-wrapper {
      position: absolute;
      top: 83px;
      @media screen and (max-width: 320px) {
        top: 50px;
      }
      text-align: center;
      width: 100%;
      color: white;
      .peggy-wrapper {
        img {
          display: block;
          margin: 0 auto;
          @media screen and (max-width: 320px) {
            width: 75px;
          }
        }
      }
      .logo-box {
        border-top: 2px solid;
        border-bottom: 2px solid;
        margin: 0 auto;
        width: 300px;
        .logo-wrapper {
          padding: 30px 0;
          img {
            width: 300px;
          }
        }
        @media screen and (max-width: 320px) {
          width: 235px;
          .logo-wrapper {
            padding: 30px 0;
            img {
              width: 235px;
            }
          }
        }
        .tagline-1 {
          margin-bottom: 25px;
          font-size: 18px;
          letter-spacing: 4.3px;
          line-height: 30px;
        }
      }
      .tagline-2 {
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 16px;
        font-style: italic;
        letter-spacing: 2px;
        line-height: 30px;
        padding: 27px;
      }
    }
  }
  .categories-wrapper {
    background-color: rgb(248, 248, 248);
    color: rgb(127, 159, 255);
    text-align: center;
    .segments {
      .right-border {
        border-right: 2px solid white;
      }
      .segment-wrapper {
        display: inline-block;
        width: 48%;
        border-bottom: 2px solid white;
        padding: 20px 0;
        .icon {
          background-repeat: no-repeat;
          background-size: cover !important;
          width: 70px;
          height: 75px;
          display: inline-block;
        }
        .weddings {
          background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/weddings_icon.svg');
        }
        .celebration {
          background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/celebration_icon.svg');
        }
        .meetups {
          background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/meetups_icon.svg');
        }
        .whatever {
          background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/mobile/whatever_icon.svg');
        }
        .segment-text {
          text-align: center;
          padding-top: 5px;
          font-size: 12px;
        }
      }
    }
  }
  .examples-wrapper {
    background-color: rgb(240, 240, 240);
    .example-wrapper {
      .image-wrapper {
        img {
          margin: 0 auto;
          width: 50%;
        }
      }
    }
  }
  .success-wrapper {
    background-color: rgb(227, 227, 227);
    color: rgb(127, 127, 127);
    text-align: center;
    .slick-slider {
      .slick-dots {
        padding-bottom: 20px !important;
      }
    }
    .couple-wrapper {
      .image-wrapper {
        padding-top: 45px;
        img {
          display: inline-block;
          text-align: center;
        }
      }
      .couple-name {
        padding-top: 10px;
        color: rgb(127, 159, 255);
      }
      .text-wrapper {
        padding: 50px 0 10px;
        font-size: 14px;
        @media screen and (max-width: 320px) {
          font-size: 12px;
        }
      }
    }
  }
  .notice-wrapper {
    background-color: rgb(102, 102, 102);
    text-align: center;
    .text {
      padding: 70px 0 100px;
      line-height: 26px;
      color: rgb(231, 231, 231);
      font-size: 16px;
      @media screen and (max-width: 320px) {
        font-size: 14px;
      }
    }
  }
}
.site-footer {
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgb(51, 51, 51);
  text-align: center;
  padding: 25px 0;
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      display: inline;
    }
  }
  .social-buttons {
    li {
      padding: 0 10px;
    }
    a {
      background-repeat: no-repeat;
      width: 19px;
      height: 16px;
      display: inline-block;
    }
    a.facebook {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/facebook_icon.svg');
    }
    a.instagram {
      background: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/instagram_icon.svg');
    }
  }
  .footer-nav {
    padding-top: 25px;
    li {
      padding: 0 20px;
    }
    a {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 12px;
      color: rgb(242, 242, 242);
      text-decoration: none;
    }
  }
  .footer-logo {
    padding-top: 25px;
  }
  .footer-text {
    color: rgb(242, 242, 242);
    font-size: 10px;
    padding: 25px 0;
  }
}