<div class='save-modals'>
  <%= render partial: "events/modals/save_event" %>
  <%= render partial: "events/modals/event_saved" %>
</div>
<div class='publish-modals'>
  <%= render partial: "events/modals/publish_event" %>
  <%= render partial: "events/modals/event_published" %>
</div>