html, body {
  height: 100%;
  padding:0;
  margin: 0;
}
.background {
  background: url(https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/comming_soon/backgrounds/background.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
}

.form {
  height: 460px;
  width: 420px;
  background: url(https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/comming_soon/images/graphics.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -285px;
  margin-left: -210px;
  form {
    position: absolute;
    bottom: 15px;
    left: 43px;
    .email-input {
      height: 32px;
      width: 249px;
      padding-left: 10px;
    }
    .submit-btn {
      width: auto;
      vertical-align: middle;
      margin-top: -10px;
    }
  }
}