@import "foundation/components/grid";

body {
  background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/comming_soon/backgrounds/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .main-wrapper {
    .graphics-container {
      margin-top: 1em;
    }
    form {
      -ms-transform: translate(32%, -150%); /* IE 9 */
      -webkit-transform: translate(32%, -150%); /* Chrome, Safari, Opera */
      input { outline: none; }
      .text-container {
        padding: 0;
        margin-top: 1.1em;
        input { 
          padding-left: 0.5em;
          width: 100%;
          border: 0.2em solid #81A3FC; 
          height: 3.8em;
        }
      }
      .btn-container {
        padding: 0;
        input {
          width: 6em;
        }
      }
    }
  }
}