@import "foundation/components/grid";

body {
  background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/comming_soon/backgrounds/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .main-wrapper {
    .graphics-container {
      @media (orientation : portrait) {
        -ms-transform: translate(0, 10%); /* IE 9 */
        -webkit-transform: translate(0, 10%); /* Chrome, Safari, Opera */
      }
      @media (orientation : landscape) {
        @include grid-column($columns:6, $offset:3);
        -ms-transform: translate(0, 5%); /* IE 9 */
        -webkit-transform: translate(0, 5%); /* Chrome, Safari, Opera */
      }
    }
    form {
      @media (orientation : portrait) {
        -ms-transform: translate(20%, -70%); /* IE 9 */
        -webkit-transform: translate(20%, -70%); /* Chrome, Safari, Opera */
      }
      @media (orientation : landscape) {
        -ms-transform: translate(32%, -125%); /* IE 9 */
        -webkit-transform: translate(32%, -125%); /* Chrome, Safari, Opera */
      }
      .fields-container {
        @media (orientation : landscape) {
          @include grid-column($columns:5);
        }
        @media (orientation : portrait) {
          @include grid-column($columns:8);
        }
      }
      input { outline: none; }
      .text-container {
        padding: 0;
        @media (orientation : landscape) {
          margin-top: 1.1em;
        }
        @media (orientation : portrait) {
          margin-top: 1.5em;
        }
        input { 
          padding-left: 0.5em;
          width: 100%;
          border: 0.2em solid #81A3FC; 
          @media (orientation : landscape) {
            height: 3.8em;
          }
          @media (orientation : portrait) {
            height: 5em;
          }
        }
      }
      .btn-container {
        padding: 0;
        input {
          @media (orientation : landscape) {
            width: 6em;
          }
          @media (orientation : portrait) {
            width: 8em;
          }
        }
      }
    }
  }
}