html, body {
  height: 100%;
  padding:0;
  margin: 0;
}
.background {
  background: url(https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/comming_soon/backgrounds/background_mobile.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
}

.form {
  @media (orientation : portrait) {
    height: 340px;
    width: 280px;
    margin-top: -190px;
    margin-left: -143px;
  }
  @media (orientation : landscape) {
    height: 316px;
    width: 255px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -159px;
    margin-left: -133px;
  }
  background: url(https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/comming_soon/images/graphics.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  
  form {
    @media (orientation : portrait) {
      position: absolute;
      bottom: 18px;
      left: 34px;
    }
    @media (orientation : landscape) {
      position: absolute;
      bottom: 18px;
      left: 27px;
    }
    .email-input {
      @media (orientation : portrait) {
        height: 20px;
        width: 160px;
        padding-left: 6px;
      }
      @media (orientation : landscape) {
        height: 20px;
        width: 152px;
        padding-left: 6px;
      }
    }
    .submit-btn {
      width: 45px;
      vertical-align: middle;
      margin-top: -6px;
    }
  }
}