body { min-height: 600px; }
.main-wrapper {
  height: 95%;
  font-size: 100%;
  text-align: center;
  .display {
    height: 100%;
    .event-wrapper {
      height: 100%;
      .images-container {
        height: 60%;
        .images {
          background-size: contain !important;
          background-repeat: no-repeat !important;
          background-position-x: center !important;
          height: 100% !important;
        }
      }
      .text-wrapper-1 {
        margin-top: -0.8em;
        line-height: 1em;
        #text_1 {
          display: inline-block;
          background: white;
          padding: 0 0.2em;
        }
      }
      .text-wrapper-2 {
        line-height: 0.8em;
        #text_2 {
          display: inline-block;
        }
      }
      .text-wrapper-3 {
        font-style: italic;
        padding: 1em 0 1.2em 0;
        #text_3 {
          display: inline-block;
        }
      }
      .calendar-wrapper {
        .addthisevent-drop {
          font-family: 'Fanwood Text', serif;
          font-style: italic;
          font-size: 1em;
          padding: 0.3em 1em;
          background: rgb(234, 234, 234);
          color: #595757!important;
          border: 1em;
          border-radius: 1em!important;
        }
        .addthisevent-drop:hover {
          background: rgba(203, 203, 203, 0.7);
        }
      }
    }
  }
}
.footer {
  font-size: 0.5em;
  width: 100%;
  height: 5%;
  text-align: center;
  margin-top: 0;
  background-color: rgba(87, 87, 87, 0.41);
  .footer-container {
    padding: 3px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    img {
      vertical-align: bottom;
      height: 100%;
    }
    a {
      text-decoration: none;
      color: white;
      font-family: 'Julius Sans One', sans-serif;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
    }
  }
}