table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
  }
  th, td {
    padding: 0.5em 1em;
    background-color: transparent;
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
  }
}

.btn {
  padding: 20px 67px;
  text-decoration: none;
  border-radius: 6px;
  color: white;
  font-size: 23px;
}

.label {
  padding: 5px;
}

.admin-wrapper {
  font-family: 'Quattrocento Sans', sans-serif;
  position: relative;
  padding: 50px 0;
  min-height: 500px;
}

.admin-menu {
  .menu-list {
    margin: 0 auto;
    width: 700px;
  }
  .btn.events {
    background-color: darkseagreen;
  }
  .btn.contact-requests {
    background-color: cornflowerblue;
  }
}

.admin-events {
  .table-wrapper {
    margin: 50px;
  }
  .sum-wrapper {
    position: absolute;
    top: 75px;
    left: 50px;
  }
}

.admin-contact-requests {
  .table-wrapper {
    width: 796px;
    margin: 0 auto;
  }
}

.admin-contact-request {
  .contact-request {
    width: 600px;
    margin: 0 auto;
  }
}
