.page-wrapper.categories {
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 20px;
  .categories-wrapper {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(248, 248, 248);
    width: 202px;
    height: 652px;
    color: rgb(127, 159, 255);
    .segments {
      text-align: center;
      padding: 0;
      .segment-wrapper {
        width: 100%;
        display: inline-block;
        padding: 0;
        .segment-text {
          padding: 0;
        }
      }
    }
  }
  .templates-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: rgb(231, 231, 231);
    width: 759px;
    height: 652px;
    .tile-wrapper {
      display: inline-block;
      .tile {
        width: 128px;
        height: 128px;
      }
    }
  }
}