.categories-index {
  .category-tile {
    display: inline-block;
    vertical-align: top;
    background-color: purple;
    height: 10rem;
    width: 10rem;
  }
  .events-tiles {
    display: inline-block;
    vertical-align: top;
    .event-tile {
      background-color: black;
      height: 10rem;
      width: 10rem;
    }
  }
}
