/*
 *= require_tree ./comming_soon 
*/
body {
  font-size: 16px;
  background: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/comming_soon/backgrounds/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 50em;
  .form {
    position: absolute;
    top: 20em;
    left: 30em;
    .email-input {
      vertical-align: top;
      width: 20em;
      height: 3em;
    }
    // .submit-button {
    //   background-image: url("https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/comming_soon/images/button_before.svg");
    //   background-repeat: no-repeat;
    // }
  }
}