/*
 *= require_self
 *= require fonts
 *= require slick
*/
body { margin: 0 }
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.display {
  padding-bottom: 20px;
}
.display-footer {
  overflow: hidden;
  height: 27px;
  width: 100%;
  background-color: rgb(87, 87, 87);
  .footer-container {
    text-align: center;
    a {
      vertical-align: text-top;
      text-decoration: none;
      color: white;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 12px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
    }
  }
}
