/*
 *= require_self
 *= require foundation_slim
 */
.main-wrapper {
  height: 95%;
  @media (orientation : landscape) {
    height: auto;
  }
}

.footer {
  font-size: 10px;
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  .footer-container {
    padding: 3px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    img {
      height: 100%;
    }
    a {
      text-decoration: none;
      color: white;
      font-family: 'Julius Sans One', sans-serif;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
    }
  }
}