@import "foundation/components/buttons";

#editor {
  .accordion {
    .pannel-text {
      text-align: center;
    }
  }
  .text-element {
    span {
      color: white;
    }
    .box {
      padding: 0 0.2rem 0;
      margin: 0;
      span, input, select{
        font-size: 0.7rem;
      }
    }
  }
  .save-publish-btn {
    @include button();
    background-color: #62CC88;
    border-radius: 8px;
  }
  .form-actions {
    margin-top: 1.25rem;
    .back-btn {
      margin-left: 0.5rem;
    }
  }
  #background_buttons {
    margin-bottom: 0.5rem;
    .background_btn {
      width: 2rem;
      height: 2rem;
      display: inline-block;
    }
  }
  .minicolors {
    width: 100%;
    .minicolors-swatch {
      top: 9px;
    }
    .minicolors-input {
      height: 2.30rem ;
      width: 100%;
    }
  }
  .text_explain {
    font-size: 0.8rem;
    color: #6f6f6f;
  }
}