#preview {
  min-height: 585px;
}

#editor {
  .button {
    margin: 1.25rem 0 1.25rem;
  }
}

.event-wrapper {
  .images {
    padding-top: 3rem
  }
  .title {
    text-align: center;
  }
  .description {
    text-align: center;
  }
}