@import "foundation/components/buttons";
.info-link {
  margin-top: 0.25rem;
}
.event-wrapper {
  .images {
    padding-top: 1rem
  }
  .primary {
    text-align: center;
    p { 
      margin: 0;
      font-size: 3.5rem;
    }
  }
  .secondary {
    p {
      margin: 0.1rem 0 0 0;
      font-size: 2.5rem;
    }
    text-align: center;
  }
  .extra {
    p {
      font-size: 2.5rem;
      margin: 0;
    }
    padding-top: 1.85rem;
    text-align: center;
  }
  .calendar {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1.5rem
  }
}

#preview {
  min-height: 585px;
  border-radius: 6px;
  box-shadow: 0px 2px 2px 0px #dcdcdc;
  .event-wrapper {
  .images {
    padding-top: 1rem
  }
  .primary {
    text-align: center;
    p { 
      margin: 0;
      font-size: 2.5rem;
    }
  }
  .secondary {
    p {
      margin: 0;
      font-size: 2rem;
    }
    text-align: center;
  }
  .extra {
    p {
      font-size: 2rem;
      margin: 0;
    }
    padding-top: 1rem;
    text-align: center;
  }
  .calendar {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1.5rem
  }
}
}

#editor {
  .save-publish-btn {
    @include button();
    background-color: #62CC88;
    border-radius: 8px;
  }
  .form-actions {
    margin-top: 1.25rem;
    .back-btn {
      margin-left: 0.5rem;
    }
  }
  #background_buttons {
    margin-bottom: 0.5rem;
    .background_btn {
      width: 2rem;
      height: 2rem;
      display: inline-block;
    }
  }
  .minicolors {
    width: 100%;
    .minicolors-swatch {
      top: 9px;
    }
    .minicolors-input {
      height: 2.30rem ;
      width: 100%;
    }
  }
  .text_explain {
    font-size: 0.8rem;
    color: #6f6f6f;
  }
}

.events-index {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 2px 0px #dcdcdc;
  padding: 2rem;
  .header {
    border-bottom: 1px solid #d0d0d0;
    padding: 23px 0;
    .my-events-header {
      color: #363636;
      font-family: 'Lantinghei TC';
      font-size: 3rem;
    }
  }
  .single-event {
    position: relative;
    border-bottom: 1px solid #d0d0d0;
    padding: 23px 0;
    .event-wrapper {
      .images {
        padding-top: 0.5rem
      }
      .primary {
        p {
          font-size: 1rem;
          margin: 0;
        }
        text-align: center;
      }
      .secondary {
        p {
          font-size: 1rem;
          margin: 0;
        }
        text-align: center;
      }
      .extra {
        p {
          font-size: 1rem;
          margin: 1rem 0 0 0;
        }
        padding-top: 0;
        text-align: center;
      }
      .calendar {
        text-align: center;
        margin-top: 0.5rem;
        padding-bottom: 0.5rem
      }
    }
    .event-info {
      .event-name {
        font-size: 1.5rem;
      }
    }
    .event-actions {
      position: absolute;
      bottom: 26px;
      .publish-btn {
        border-radius: 10px;
        padding: 8px;
        margin: 0;
      }
    }
  }
}