@font-face {
  font-family: jack_story;
  src: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/fonts/jack_story.ttf') format('truetype');
}

@font-face {
  font-family: hand_write;
  src: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/fonts/hand_write.ttf') format('truetype');
}

@font-face {
  font-family: adine_kirnberg;
  src: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/fonts/adine_kirnberg.ttf') format('truetype');
}

@font-face {
  font-family: little_flower;
  src: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/fonts/little_flower.ttf') format('truetype');
}

@font-face {
  font-family: munich;
  src: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/fonts/munich.ttf') format('truetype');
}

@font-face {
  font-family: narkis_block;
  src: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/fonts/narkis_block.ttf') format('truetype');
}
