@font-face {
  font-family: jackstory;
  src: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/fonts/jack_story.ttf') format('truetype');
}

@font-face {
  font-family: handwrite;
  src: url('https://s3-eu-west-1.amazonaws.com/events-assets-static/fonts/hand_write.ttf') format('truetype');
}
