.posts-new {
  .header {
    border-bottom: 1px solid #d0d0d0;
    padding: 23px 0;
    .header-text {
      color: #363636;
      font-family: 'Lantinghei TC';
      font-size: 2rem;
    }
  }
  .facebook-btn {
    background:  url("/assets/social-media-buttons.png") -48px -48px no-repeat;
  }
}