<div class='segment-wrapper'>
  <div class='segment-icon'>
    <a href="#" class="<%= category %>"></a>
  </div>
  <div class="segment-text"><%= category %></div>
</div>
<div class='row-wrapper <%= category %>'>
  <div class='category-text'>COMING SOON</div>
</div>