<div class="footer">
  <div class='footer-container'>
    <img src="<%= shared_assets_url('logo_footer.svg') %>">
    <a href="<%= root_path %>" target="_blank">create your own webivite >></a>
  </div>
</div>